/* Blog.css */
.tabs-container {
  padding: 20px 0;
  background-color: #f4f4f4;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.card-title {
  font-size: 22px; /* Change font size */
  font-weight: bold; /* Change font weight */
  color: #813F21; /* Change text color */
}


.reaction{
  border-radius:20px;
}

.video-cover {
  width:100%;
  padding-top: 10px;
  border-radius: 20px;
 }

 .vidpost-text1 {
  padding-top: 20px;
  font-size: large !important;
}

.button {
  border-radius: 25px !important;
  padding: 6px 20px !important;
  font-size: 14px !important;
  background-color: transparent !important;
  color: black !important;
  border-color: black !important;
}