.blog-container {
    position: relative; 
    height: 100vh;
  }
  
  .headerImg {
    padding-top: 100px;
    width: 100%; 
    height: auto;
    filter: brightness(0.9);
  }
  
  .headerTitleLg {
    font-size: 60px; 
    color: #000000; 
    text-align: left; 
    padding-left: 136px;
  }
  
  .posts {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-image{
    width: 100%;
    height: 360px;
    object-fit:cover;
    border-radius: 8px;
  }

  .post-image:hover {
    filter: brightness(0.5); /* Increases brightness on hover */
  }

  .pic-header {
    text-align: center;
  }

  .videography-post {
    text-align: center;
    margin-top: 20px;
  }
  
 

  .video-cover {
    width: 88%;
    padding-left: 140px;
    padding-top: 10px;
   }
  
   .video-header {
    padding-left: 20px;
   }
  
   .photo-header {
    padding-top: 40px;
    padding-left: 20px;
   }
  
   .video-cover:hover {
    filter: brightness(0.5);
    transition: transform 40s ease-in-out !important;
  }

  .vidpost-text1 {
    padding-left: 142px;
    padding-top: 20px;
    font-size: large !important;
  }

  .vidpost-text2 {
    padding-left: 50px !important;
    font-size: large !important;
    padding-top: 20px;
  }
  
