@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    margin: 0;
    background-color: #ffffff; /* Dark background */
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

